.desk, .mobile{
    display: none;
}

@media (orientation: landscape) {
    body {
        background-color: antiquewhite;
        color: black
    }

    .desk{
        display: inline-block;
    }
}

@media (orientation: portait) {
    body {
        background-color: black;
        color: antiquewhite
    }

    .mobile{
        display: inline-block;
    }
}

body {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'montserrat';
    background: #ffe0e3;
    background-image: url('https://images.unsplash.com/photo-1651257409478-440b9c4805b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3VubnklMjBtYW5jaGVzdGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: top center;
    font-size: 120%;
}

.box {
    background: white;
    color: rgb(0, 0, 0); 
    padding: 2em;
    border-radius: 60px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    box-shadow: 1em 20px;
}

.boxb {
    background: #ffffff9f;
    background-position: left;
    color: rgb(0, 0, 0); 
    padding: 2em;
    /*border-radius: 60px;
    width: 100%;
    max-width: 420px;
    margin: 1em; */
}
.search {
    display: flex;
    align-items: center;
    justify-content: center
}

.searchb {
    display: flex;
    align-items: unset;
    justify-content: flex-start;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: black;
    height: 44px;
    width: 44px;
    outline: slategrey;
    background: #ffffff;
    color: rgba(0, 0, 0, 0);
    cursor: printer;
    transition: 0.2s ease-in-out;
}

input.Search_bar {
    border-block-color: black;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

button:hover {
    background: #7c7c7c6b;
}

h1.temperature {
    margin: 0;
}

nav {
    display: flex;
    text-decoration: none;
}

nav a:hover,
nav a li:hover {
    text-decoration: transparent;
    color: #ffe0e3;
}

p {
    font-size: medium;
    display: flex;
    padding: 2em;
    border-radius: 60px;
    /* width: 100%;
    /* max-width: 420px;
    margin: 1em; */
}

footer {
    display: inline;
    align-items: baseline;
}

