{% extends 'base.html' %}

{% block content %}
<h1>About Liverpool</h1>

<p>Liverpool, home of the Beetles, is filled with many things to do from dining out to exploring The Mersey Tunnels. Start your day off by getting acquainted with over 700 wild animals in the Knowsley Safari Park where you can watch amazing wildlife from the comfort of your own car. Take a drive through the lion enclosure or watch the sea lions splash about during their show, as well as all these amazing animals there is also fun rides to keep young children entertained all day! And finish your day by dining at the Albert Dock with a selection of family friendly suited restaurants for all budgets! Liverpool also has many shops, the best place being Liverpool ONE. Liverpool ONE has two of the UK’s favourite department stores, Debenhams and John Lewis as well as Zara, Victoria’s Secret, Hollister and All Saints, located on South John Street, LEGO and Disney stores are also found here, perfect for children.
</p>

https://www.myhotelbreak.com/destination_guide/england/liverpool-merseyside-cheshire/liverpool#:~:text=Tourist%20Information%20Things%20to%20see%20%26%20do%20in,wildlife%20from%20the%20comfort%20of%20your%20own%20car.

{% endblock %}